langchain==0.3.0
langchain-core==0.3.59
langchain-community==0.3.0
langchain-text-splitters==0.3.0
langchain-huggingface==0.2.0
langchain-ollama==0.2.0
huggingface-hub
faiss-cpu
pydub
sounddevice
numpy
torch==2.2.0
transformers
openai-whisper
silero-vad
simpleaudio
soundfile
unstructured
coqui-tts